@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

section, footer {
    padding: 4em 7em;
}

button {
    cursor: pointer;
}

h1, h2, h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #181E4B;

}

#header {
    position: relative;
}

/* -------- NAVBAR CSS -------- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 7em;
  }

  .logo {
    position: relative;
    width: 100px;
  }

  .logo_image {
    z-index: 999;
  }

  .logo_rectangle {
    position: absolute;
    bottom: 8px;
    right: -12px;
    z-index: -1;
  }

  .nav_links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 3.5em;
    cursor: pointer;
    color: #212832;
  }

  .nav_link button {
    padding: 0.5em 1.5em;
    outline: none;
    background: none;
    border: none;
    font-size: 1em;
  }

  .signup_button {
    border: 0.5px solid #000 !important;
    border-radius: 5px;
  }

  /* -------- HERO CSS -------- */

  #hero {
    display: flex;
    margin-top: 3em;
    position: relative;
  }

  .hero_desciption {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
  }

  .headline {
    text-transform: uppercase;
    color: #DF6951;
    font-weight: 700;
  }

  .hero_desciption h1 {
    font-size: 4em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    line-height: 60px;
    
  }

  .hero_image img {
    position: absolute;
    top: -30px;
    right: 200px;
    width: 45%;
  }

  .text_decor {
    position: relative;
  }

  .text_decor img {
    position: absolute;
    bottom: 5px;
    left: -25%;
    z-index: -1;
  }

  .description {
    font-size: 0.75em;
    font-weight: 100;
    width: 80%;
    letter-spacing: 0.5px;
    line-height: 1.75;
    color: #5E6282;
  }
  
  .main_button {
    background-color: #ffb744;
    color: rgb(255, 255, 255);
  }

  .CTA button {
    border: none;
    outline: none;
    padding: 1em 2em;
    border-radius: 6px;
  }

  .demo_button {
    background: none;
    border: 1px solid #000 !important;
    margin-left: 20px;
  }

 #header {
    position: relative;
  }

  .decore {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    width: 50%;
  }

  .plane_1 {
    position: absolute;
    top: 100px;
    left: 45%;
  }

  .plane_2 {
    position: absolute;
    top: 170px;
    right: 12%;
    z-index: -1;
  }

  /* -------- CATEGORY CSS -------- */
  
  #main_content {
    margin-top: 6em;
  }

  section {
    text-align: center;
    margin-top: 2em;
  }

  section > p {
    text-transform: uppercase;
    font-weight: 700;
    color: #5e6282;
  }

  section > h2 {
    line-height: 2;
    font-size: 2.5em;
  }

  .category_card_container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin-top: 3em;
  }

  .category_card {
    border-radius: 25px;
  }

  .category_card:hover {
    -webkit-box-shadow: 14px 25px 50px 9px rgba(237, 237, 237, 1);
    -moz-box-shadow: 14px 25px 50px 9px rgba(237, 237, 237, 1);
    box-shadow: 14px 25px 50px 9px rgba(237, 237, 237, 1);
  }

  .category_card p {
    font-size: 0.75em;
    line-height: 1.5em;
    width: 50%;
    margin: auto;
    margin-top: 1em;
    color: #5e6282;
  }

  .category_card:not(.flight) {
    padding: 2.25em 0;
  }

  .category_card:has(.flight) {
    padding-bottom: 2em;
  }

  .category_card:nth-child(4) {
    padding: 2.75em 0 !important;
  }

  .category_description:not(.flight) {
    margin-top: 2em;
  }

  /* -------- Destination CSS -------- */

  .destination-card-container {
    display: flex;
    justify-content: center;
    margin-top: 3em;
  }

  .destination-card {
    position: relative;
  }

  .destination-image {
    width: 100%;
  }

  .destination-image img {
    width: 100%;
    border-radius: 10px;
  }

  .destination-card-details {
    background-color: #fff;
    position: absolute;
    bottom: 135px;
    width: 100%;
    text-align: left;
    padding: 1em 4.5em;
  }

  .destination-card-detail-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  /* -------- Booking CSS -------- */

  .booking-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: -2em;
  }

  .booking-details-title > p {
    font-weight: 700;
    color: #5e6282;
    margin-bottom: 1em;
  }

  .booking-details-title > h2 {
    font-size: 2.5em;
    line-height: 1.25;
    width: 60%;
  }

  .booking-details {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 2em;
  }

  .booking-detail-card {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 1em;
    color: #5e6282;
  }

  .booking-detail-card h4 {
    font-size: 0.9em;
  }

  .booking-detail-card p {
    font-size: 0.8em;
  }
  .booking-card {
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-radius: 24px;
    margin: 3em 10em 0 0;
    position: relative;
    background-color: white;
    padding: 1em;
    font-family: sans-serif;
  }

  .booking-image-container {
    width: 100%;
    margin: auto;
  }
  .booking-image-container img {
    width: 100%;
  }

  .booking-back {
    position: absolute;
    top:-150px;
    z-index: -1;
    left: 0px;
    width: 150%;
  }

  .booking-card h3 {
    font-size: 1em;

    margin-top: 1em;
  }

  .booking-card p {
    font-size: 0.8em;
    color: #5e6282;
    margin-top: 0.8em;
  }

  .booking-icons {
    margin-top: 0.8em;
  }

  .people {
    margin-top: 0.8em;
    display: flex;
    gap: 1em;
  }

  .people p {
    font-size: 0.6em;
  }

  /* -------- Testimonial CSS -------- */

  .testimonial-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 4em;
  }
  .testimonial-details > p {
    font-weight: 700;
    color: #5e6282;
    margin-bottom: 1em;
  }

  .testimonial-details > h2 {
    font-size: 2.5em;
    line-height: 1.25;
    width: 70%;
  }

  .circles.active {
    background-color: #070707;
  }

  .circles {
    width: 8px;
    height: 8px;
    background-color: #dad7d7;
    border-radius: 50%;
    display: inline-block;
    margin-top: 3em;
    margin-right: 1em;
  }

  .testimonial-card {
    width: 40%;
    height: fit-content;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1em;
    position: relative;
    color: #5e6282;
  }

  .profile-image {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    position: absolute;
    top: -32px;
    left: -32px;
  }

  .testimonial-card p {
    font-size: 0.9em;
  }

  .testimonial-card h4 {
    margin: 2em 0 0.5em 0;
  }

  /* -------- Company CSS -------- */
  .company-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .company-card {
    filter: grayscale(100%);
  }

  .company-card:hover {
    filter: grayscale(0);
    transition: filter 0.3s ease-in-out;
  }

  /* -------- Contact CSS -------- */
  .contact-container {
    text-align: center;
    background-color: #dfd7f9;
    -webkit-filter: opacity(0.8);
    position: relative;
    padding: 4em 3em;
    border-radius: 80px 10px 10px 10px;
  }

  .contact-container img {
    position: absolute;
    top: -20px;
    right: -20px;
  }

  .contact-container h2 {
    font-family: sans-serif;
    line-height: 1.5;
    width: 70%;
    margin: auto auto 2em auto;
  }
  input,
  button {
    border-radius: 10px;
    margin: 0 0.5em;
  }

  input {
    width: 40%;
    padding: 1em 2em;
    border: none;
    outline: none;
  }

  .contact-form button {
    padding: 1em 2em;
    background-color: rgb(255, 125, 78);
    border: none;
    outline: none;
    color: white;
  }

  /* -------- Footer CSS -------- */

  #footer {
    display: flex;
    justify-content: space-between;
  }

  #footer p {
    color: #5e6282;
  }

  .footer-logo {
    width: 25%;
  }

  .footer-logo h2 {
    margin-bottom: 0.5em;
    font-size: 2.5em;
    font-family: sans-serif;
  }

  .footer-links p {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 2em;
    color: black !important;
  }

  ul {
    list-style: none;
    color: #5e6282;
  }

  ul li {
    margin-bottom: 0.5em;
  }

  .social-links {
    display: flex;
    align-items: center;
  }

  .social-links > img {
    border-radius: 50%;
    margin: 0 0.5em;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 8px;
    padding: 0.5em;
    margin-bottom: 1em;
  }

  .instagram {
    background-color: rgb(246, 0, 246);
  }

  .footer-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .footer-button button {
    padding: 1em 2em;
    border: none;
    outline: none;
    background-color: rgb(45, 45, 45);
    color: white;
    margin: 1em 1em 0 0;
  }